/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100vh;
}
  
footer {
    position: absolute;
    bottom: -15px;
    text-align: center;
    left: 0px;
    right: 0px;
}